.title{
	color: white;
	text-align: center;
}
.stitle{
	color: white;
	text-align: center;
	
}
.sstitle{
	color: white;
	text-indent: 40px;
}
.text{
	color: white;
	text-indent: 20px;
	width: 60%;
	word-wrap: break-word; 
	
}
.b{
	color: white;
	text-indent: 20px;
}
.link{
	color: white;
	text-align: center;
}
.picture{
	width: 50%
}
.a{
	color: white;
	text-indent: 0px;
	
}
.c{
	color: white;
	text-indent: 40px;
}
.d{
	color: white;
	text-indent: 60px;
	
}
.e{
	color: white;
	text-indent: 80px;
}
.f{
	color: white;
	text-indent: 100px;
}
body { 
	background-image: url("background.jpg");
	background-size: 100%;
}
